$white: white;
$light-grey: #f5f5fa;
$mid-light-grey: #d4d4d9;
$mid-grey: #919095;
$dark-grey: #363636;
$magenta: #ee3654;
$dark-magenta: #d10a40;
$cyan: #33c2e0;
$blue: #004681;
$purple: #8b3ab0;
$orange: #ff8b11;
$yellow: #fad900;
$green: #40C200;
$light-cyan: #D3F2F8;
$dark-cyan: #8eb6bf;
$darker-cyan: #1D6E7F;
