@mixin rz-box-shadow($offset-x, $offset-y, $blur, $spread, $color) {
            box-shadow: $offset-x $offset-y $blur $spread $color;
}

@mixin rz-inset-box-shadow($offset-x, $offset-y, $blur, $color) {
            box-shadow: inset $offset-x $offset-y $blur $color;
}

@mixin rz-box-sizing-border() {
            box-sizing: border-box;
}

@mixin rz-box-sizing-padding() {
            box-sizing: padding-box;
}