/* Vertical spacing */
$one-baseline: 12px;
$two-baselines: 24px;
$three-baselines: 36px;
$four-baselines: 48px;

$icon-height: 20px;

/* Horizontal spacing */
$doc-margin: 70px;
$graph-margin-right: 20px;
