{% extends "base.html" %} {% block title %}Rhizi - Sign up{% endblock %}
{% block head %} {{ super() }}
<script src="/static/lib/jquery.js" type="text/javascript"></script>
<script src="/static/js/user_signup.js" type="text/javascript"></script>

<style type="text/css">
html {
  background: url(/static/img/login-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  background-color: transparent;
}
</style>
{% endblock %} {% block content %}
<div id="user_signup_form_panel" class="welcome-box">
    <div class="login-view-section">
        <div class="login-rhizi-logo"></div>
    </div>
    <div class="login-view-section">
        <h1 class="login-header">Account activation</h1>
    </div>
    {% if 'activation_success' == state %}
    <div>
        <p class="login-text">Account activated successfully.</p>
        <p class="login-text">Head over to the <a href="/login">Login page</a> to map and discover opportunities and resources.</p>
    </div>
    {% elif 'activation_failure' == state %}
    <div>
        <p>Activation failed, and something went wrong<br>please contact us on contact@rhizi.com specifying your login email address and the address you have now in your browser and we'll sort it out</p>
    </div>
    {% else %}
    <div class="login-view-section login-form">
        <div class="signup_form__row">
            <div class="signup_form__field signup_form__row_sharing_field">
                <input
                    id="signup_form__first_name"
                    placeholder="First name"
                    class="login-input input-username">
            </div>
            <div class="signup_form__field signup_form__row_sharing_field">
                <input
                    id="signup_form__last_name"
                    placeholder="Last name"
                    class="login-input input-username">
            </div>
        </div>
        <div class="signup_form__row">
            <div class="signup_form__field">
                <input
                    id="signup_form__rz_username"
                    placeholder="Rhizi username"
                    class="login-input input-username">
            </div>
        </div>
        <div class="signup_form__row">
            <div class="signup_form__field">
                <input
                    id="signup_form__email_address"
                    type="email"
                    placeholder="Email"
                    class="login-input">
            </div>
        </div>
        <div class="signup_form__row">
            <div class="signup_form__field">
                <input
                    id="signup_form__password_first"
                    type="password"
                    placeholder="password"
                    class="login-input">
            </div>
        </div>
        <div class="signup_form__row">
            <div class="signup_form__field">
                <input
                    id="signup_form__password_second"
                    type="password"
                    placeholder="Re-type password"
                    class="login-input">
            </div>
        </div>
        <div id="signup_form__submit_button_row">
            <div
                id="signup_form__submit_button" class="login-form_button signup-button"
                onclick="signup_form__submit();">Sign Up</div>
        </div>
        <div id="signup_form__msg_row"></div>
        {% endif %}
    </div>
</div>
{% endblock %}
