# -----------------------------------------------------------------------------
# Sample Rhizi configuration - copy this to rhizi-server.conf
#
# Rhizi configuration values are documented in source code.
#

# -----------------------------------------------------------------------------
# General
#
#root_path =
#fragment_d_path =
#template_d_path =
#user_db_path =

development_mode = True
static_url_path = /static

# -----------------------------------------------------------------------------
# Network
#
listen_address = 127.0.0.1
listen_port = 8080
reverse_proxy_host =
reverse_proxy_port =

# -----------------------------------------------------------------------------
# Database
#
neo4j_url = http://127.0.0.1:7474
#neo4j_user = neo4j
#neo4j_pw = neo4j

# -----------------------------------------------------------------------------
# Logging
#
log_level = debug
log_path = rhizi-server.log

# -----------------------------------------------------------------------------
# Flask Configuration
#    - [!] SERVER_NAME: if adding ':port', this should match listen_port
#
#SERVER_NAME = rhizi.local:8080
SECRET_KEY = notverysecretbutpeppyyaya

# use with HTTPS: SESSION_COOKIE_SECURE = True

# -----------------------------------------------------------------------------
# Mail
#
mta_host = 127.0.0.1
mta_port = 25
mail_default_sender = rhizi@localhost
feedback_recipient = feedback@localhost

# -----------------------------------------------------------------------------
# Security
#
access_control = True
acl_wl__email_domain_set =
acl_wl__email_address_file_path =
signup_enabled = True

# -----------------------------------------------------------------------------
# Client settings
#
optimized_main = False

# -----------------------------------------------------------------------------
# Rhizi
#
rzdoc__mainpage_name = Welcome Rhizi
rzdoc__name__max_length = 256

# -----------------------------------------------------------------------------
# Other
#
DEBUG = True
