# -----------------------------------------------------------------------------
# Sample Rhizi configuration - copy this to rhizi-server.conf
#

# -----------------------------------------------------------------------------
# General
#
development_mode = True
root_path = .
static_url_path = /static

# -----------------------------------------------------------------------------
# Network
#
listen_address = 127.0.0.1
listen_port = 8080

# -----------------------------------------------------------------------------
# Data
#
neo4j_url = http://127.0.0.1:7474

# -----------------------------------------------------------------------------
# Logging
#
log_level = debug
log_path = rhizi-server.log

# -----------------------------------------------------------------------------
# Flask Configuration
#    - SERVER_NAME: if adding ':port', this should match listen_port
#
SERVER_NAME = rhizi.local:8080
SECRET_KEY = notverysecretbutpeppyyaya

# use with HTTPS: SESSION_COOKIE_SECURE = True

# -----------------------------------------------------------------------------
# Mail
#
mail_hostname = 127.0.0.1
mail_default_sender = rhizi@localhost
feedback_recipient = feedback@localhost

# -----------------------------------------------------------------------------
# Security
#
access_control = False
user_db_path = ./user_db.db

# -----------------------------------------------------------------------------
# Client settings
#
optimized_main = False

# -----------------------------------------------------------------------------
# Other
#
DEBUG = True
