# Copy this to rhizi-server.conf
# This file is in the repository and not suitable for changes (i.e. keeping SECRET_KEY)
listen_address = 127.0.0.1
listen_port = 8080
development_mode = True
neo4j_url = http://127.0.0.1:7474
log_path = rhizi-server.log
access_control = False

SERVER_NAME = rhizi.local:8080
DEBUG = True

# Mail settings
mail_default_sender = rhizi@localhost
feedback_recipient = feedback@localhost

SECRET_KEY = notverysecretbutpeppyyaya
