Rhizi Prototype1_files/
.idea/
src/client/local_config.js
.sass-cache/
*.pyc
*.sw?
deploy-local/
res/etc/htpasswd
res/etc/htpasswd-init-file
rhizi-server.log
res/etc/rhizi-server.conf
src/client/main-built.js
src/client/main-built.js.map
res/template.d/version.txt
src/server/tools
res/docker/fedora/neo4j-*.tar.gz
node_modules/