@import "../modules/colors";
@import "../modules/mixins";
@import "../modules/typography";
@import "../modules/positions";

//Globals
html, body {
  height: 100%;
}

body {
  overflow-y: hidden;
  overflow-x:auto;
  margin: 0;
  min-width: 980px;
  padding: 0;
  color: #FFF;
  font-size: 14px;
  background-color:#f5f5fa;
}

a{
  text-decoration: none;
  font-style: italic;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #FFF;
}

a:hover {
  color: #EDE275;
}

a:active {
  color: #FFF;
}

//input box stuff
input{
  background-color: white;
  color: #363636; //$dark-grey
  border: 0;
  &:focus {
    border: 0;
    outline: 0;
    background-color: white;
  }
  font-size: $h3-size;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #919095;//$mid-grey
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #919095;//$mid-grey
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #919095;//$mid-grey
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #919095;//$mid-grey
}