.debug-ui {
  display: none;
}

body.debug {
    .debug-ui {
      display: inline;
      position:fixed;
      bottom:70px;
      left:10px;
      text-decoration: none;
    }

    .debug-ui-row {
      float: left;
      width: 100%;
    }

    .debug-ui-left {
      float: left;
      width: 50%;
    }

    .debug-ui-right {
      float: right;
      width: 50%;
    }

    .debug{

    }
}
