

#textinputui {
  position: fixed;
  display: block;
  top: 40px;
  left: 20px;
  right: 400px;
}

#textanalyser{
  float: left;
  height:30px;
  max-width: 70%;
  width:900px;
}

#suggestion{
  list-style-type: none;
}

#suggestion td{
  padding-top: 5px;
  padding-left: 200px;
}