.input-container {
  position: relative;
  margin: $two-baselines 0 0 $doc-margin;

  form {
    display: inline;
  }
}


.input-bar {
  font-family: $base-font-family;
  color: $mid-grey;
  height: $three-baselines;
  width: 420px;
  padding-left:8px;
  border-radius: 4px;
  border: 1px solid $mid-grey;
  background: white;
  &:focus {
    border-radius: 4px;
    border: 1px solid $mid-grey;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);  }
}

#textanalyser.ui-autocomplete-input {
  font-family: $base-font-family;
  color: $mid-grey;
}

.add-button {
  position:relative;
  height: 30px;
  width: 30px;
  left: -38px;
  top: 10px;
}

.suggestion{
  list-style-type: none;
}

.suggestion td{
  position:fixed;

}

.ui-helper-hidden-accessible{
  position:fixed;
  top: $three-baselines+$four-baselines+$four-baselines+35px+$three-baselines;
  left:$doc-margin+8px;
  text-shadow: -1px 1px 8px #E DE275, 1px -1px 8px #EDE275;
  font-size:16px;
}