.typeselection{
	color: $dark-grey;
	font-size: $h2-size;
  position:fixed;
  left:0;
  top:-300px;
  pointer-events:none;
}

.typeselection td{
  padding-top: 5px;
  padding-left: 200px;
}

#keys{
  opacity: 0.5;
}