.search-bar{
  width:100%;
  height:$four-baselines;
  background: white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}

.search-input{
  position: fixed;
  width: 100%;
  top: $three-baselines+($four-baselines - $icon-height)/2;
  height:$icon-height;
  left: $doc-margin + 40px;
}
.search-icon {
  position:fixed;
  width:20px;
  height:$icon-height;
  left: $doc-margin;
  top: $three-baselines+($four-baselines - $icon-height)/2;
}

input {
  font-family: $base-font-family;
  font-size: $h3-size;
}