.task-alert{
  position:relative;
  width: 100%;
  height:$four-baselines;
  background-color: $light-cyan;
  color: $darker-cyan;
  border-top: 1px solid $dark-cyan;
  border-bottom: 1px solid $dark-cyan;
  z-index: 1;
}

.task-desc{
  position:fixed;
  width:100%;
  height: $icon-height;
  top: $three-baselines + $four-baselines + ($four-baselines - $icon-height)/2;
  text-align: center;
  font-size: $h3-size;
}

.task-close-text {
  position:fixed;
  top: $three-baselines + $four-baselines + ($four-baselines - $icon-height)/2 + 1 ;
  right: 70px;
  font-size: $h4-size;
}

.task-close-button {
  position: fixed;
  top: $three-baselines + $four-baselines + ($four-baselines - $icon-height)/2;
  right: 50px;
} 