.history-timeline {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 100px;
}

#gantbox{
  position:absolute;
  background-color: rgba(200,200,200,0.1);
  height:100%;
  width: 100%;
  overflow: auto;
  z-index:0;
}

.missingdates{
  position:fixed;
  bottom:60px;
  left:160px;
}

.axis{
  stroke: #ccc;
  fill: #ccc;
}

.axis path,.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
