.top-bar{
  position:relative;
  top:0;
  left:0;
  width:100%;
  min-height:$top-bar-height;
  background-color:$dark-grey;
}

.doc-title{
  float: left;
  font-family: $semibold-font-family;
  color: $light-grey;
  margin: 10px $doc-margin 10px $doc-margin;
  font-size: $h3-size;
}

.user-area {
  float: right;
  margin: 3px $doc-margin 3px $doc-margin;
}

.username {
  display: inline-block;
  text-align: right;
}

.profile-circle{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $cyan;
  display: inline-block;
}

.profile-initials {
  display: inline-block;
  color: $light-grey;
  font-size: $h4-size;
  position: relative;
  left: -27px;
  top: -10px;
}

.profile-username {
  display: inline-block;
  top:12px;
  color: $light-grey;
  position: relative;
  left: -20px;
  top: -10px;
}

.organization-logo {
  display: inline-block;
  margin-left: 12px;
}