.top-bar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:$top-bar-height;
  background-color:#363636; //todo: $dark-grey
}

.doc-title{
  position:fixed;
  font-family: $semibold-font-family;
  left:60px;
  top:10px;
  color: #f5f5fa; //todo: $light-grey:

}

.profile-circle {
  position:fixed;
  right: 400px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #33c2e0;//todo: $cyan
  top:3px;
}

.profile-initials {
  position:fixed;
  top:10px;
  right:405px;
  color: #f5f5fa;//$light-grey
}

.profile-username {
  position:fixed;
  top:10px;
  right: 295px;
  color: #f5f5fa;//$light-grey
}

.owner-logo {
  position:fixed;
  top:3px;
  right: 50px;
}

.poweredby{
  position:fixed;
  bottom:10px;
  right:10px;
  vertical-align: middle;
}