//Font size
$h1-size: 30px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 14px;
$h5-size: 12px;

//Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base font
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

@font-face {
  font-family: 'MyWebFont';
  src: url(../../font/SourceSansPro-Regular.ttf) format('ttf');
}