/*
Errno::ENOENT: No such file or directory @ rb_sysopen - positions.scss

Backtrace:
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:482:in `read'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/bin/scss:13:in `<top (required)>'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/bin/scss:23:in `load'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/bin/scss:23:in `<main>'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/dorgarbash/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - positions.scss"; }
