@import url(vendor/ui.css);
@font-face {
  font-family: 'Source_Regular';
  src: url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.woff") format("woff"), url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Source_Semibold';
  src: url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.woff") format("woff"), url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Source_Bold';
  src: url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.woff") format("woff"), url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }
/* Vertical spacing */
/* Horizontal spacing */
html, body {
  height: 100%;
  font-family: "Source_Regular", sans-serif;
  overflow: hidden;
  /* hide horizontal & vertical scrollbars */ }

body {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #f5f5fa; }

a {
  text-decoration: none;
  color: #919095; }

a:link {
  color: #919095; }

a:visited {
  color: #919095; }

a:hover {
  color: #363636; }

a:active {
  color: #919095; }

input, .input {
  background-color: white;
  color: #363636;
  border: 0;
  font-size: 18px; }
  input:focus, .input:focus {
    border: 0;
    outline: 0;
    background-color: white; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #919095; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #919095;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #919095;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #919095; }

.rhizi-logo {
  position: fixed;
  color: #363636;
  bottom: 10px;
  right: 10px;
  vertical-align: middle; }

.logo-3rd-party {
  height: 30px; }

#content {
  height: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit; */
  font-family: "Source_Regular", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn-regular {
  cursor: pointer;
  background-color: white;
  font-family: "Source_Regular", sans-serif;
  font-size: 14px;
  color: #004681;
  padding: 12px 24px 12px 24px;
  margin-right: 6px;
  border-radius: 4px;
  border: none; }

.btn-regular:hover {
  color: #8eb6bf;
  border-color: #8eb6bf; }

.btn-regular:focus {
  outline: none; }

.btn-regular-outline {
  border: 1px solid #004681; }

#btn-search {
  background: url("/static/img/search-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgreen; }

#btn-logout {
  margin-left: 15px;
  font-size: 0.8em; }

#btn-logout:hover {
  opacity: 0.7;
  cursor: pointer; }

.cmn-form {
  width: 420px;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px; }

.cmn-form-input {
  border: 1px solid #d4d4d9;
  background-color: #f5f5fa;
  background-repeat: no-repeat;
  background-position: 18px 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15%;
  /* provide room for background image */
  width: 85%; }
  .cmn-form-input:focus {
    outline: none;
    background-color: #f5f5fa;
    border: 1px solid #d4d4d9;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3); }
  .cmn-form-input[type="email"] {
    background-image: url(../img/mail-icon.png); }
  .cmn-form-input[type="password"] {
    background-image: url(../img/password-icon.png); }

.cmn-form-logo {
  background: url("/static/img/logo-red.png");
  background-repeat: no-repeat;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 54px;
  height: 30px; }

.cmn-form-row {
  width: 100%; }

.cmn-form-title {
  color: #ee3654;
  display: block;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.cmn-form-section {
  margin-top: 12px;
  margin-bottom: 12px; }

.cmn-form__ajax-response {
  text-align: center; }

.cmn-form__submit-btn {
  background-color: #ee3654;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  padding: 12px;
  text-align: center; }

.debug-ui {
  display: none; }

body.debug .debug-ui {
  display: inline;
  position: fixed;
  bottom: 70px;
  left: 10px;
  text-decoration: none; }
body.debug .debug-ui-row {
  float: left;
  width: 100%; }
body.debug .debug-ui-left {
  float: left;
  width: 50%; }
body.debug .debug-ui-right {
  float: right;
  width: 50%; }

.dropdown-menu {
  border: 1px solid #919095;
  color: #363636;
  font-size: 18px;
  list-style-type: none;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3); }

.dropdown-item {
  padding: 6px 0px 6px 18px;
  cursor: pointer;
  text-align: left; }

.dropdown-item:hover {
  padding-left: 16px;
  background-color: #f5f5fa;
  border-left: 2px solid #33c2e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dropdown-menu-heading {
  background-color: lightgrey;
  border-bottom: 1px solid #d4d4d9;
  font-family: "Source_Bold", sans-serif;
  padding: 6px 0px 6px 18px; }

.dropdown-menu-heading:hover {
  cursor: default; }

#menu__type-filter {
  background-color: white;
  position: relative;
  right: 220px;
  top: -5px;
  width: 200px; }

.input-container {
  width: 35%; }
  .input-container form {
    display: inline; }

.input-bar {
  font-family: "Source_Regular", sans-serif;
  color: #919095;
  max-height: 36px;
  padding: 6px 8px 5px 8px;
  border: 1px solid #919095;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  width: 100%; }
  .input-bar:focus {
    border: 1px solid #919095;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3); }

#input-container__search {
  left: 24px;
  margin-top: 24px;
  position: absolute; }

#input-container__graph-input {
  position: absolute;
  top: 130px;
  left: 24px;
  height: 36px; }
  #input-container__graph-input:focus {
    width: 80%; }

#textanalyser.ui-autocomplete-input {
  font-family: "Source_Regular", sans-serif;
  color: #919095; }

#textanalyser {
  height: 36px; }

#btn_add {
  float: right;
  background: url(../img/plus-button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
  position: absolute;
  height: 36px;
  width: 36px;
  top: 0px;
  right: 0px;
  border: 0; }

#btn_search {
  float: right;
  background: url(../img/search-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgreen;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 36px;
  width: 36px;
  border: 0; }

.add-button:hover {
  background-color: #d10a40; }

.add-button:focus {
  outline: none; }

#input-suggestion {
  width: 100%; }

.suggestion {
  position: relative;
  color: #363636;
  max-height: 580px;
  overflow-y: scroll;
  font-size: 18px;
  list-style-type: none;
  width: inherit;
  margin-top: 6px;
  border: 1px solid #919095;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3); }

.suggestion-item {
  padding: 6px 0px 6px 18px;
  cursor: pointer; }

.suggestion-item.selected, .suggestion-item:hover {
  padding-left: 16px;
  background-color: #f5f5fa;
  border-left: 5px solid #33c2e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.suggestion td {
  position: fixed; }

.ui-helper-hidden-accessible {
  position: fixed;
  top: 203px;
  left: 78px;
  text-shadow: -1px 1px 8px #E DE275, 1px -1px 8px #EDE275;
  font-size: 16px; }

.ui-helper-hidden-accessible > div {
  color: #363636; }

.type_selection {
  color: #363636;
  font-size: 18px;
  position: fixed;
  pointer-events: none; }

.type_selection__row {
  margin-top: 3px;
  margin-bottom: 3px; }

#type_selection__chosen_type_name {
  background-color: #D3D3D3;
  border-radius: 3px;
  padding: 0 7px;
  margin-left: 3px; }

#keys {
  opacity: 0.5; }

.info-container {
  position: absolute;
  right: 20px;
  top: 130px; }

.subtitle {
  font-style: italic;
  color: #bbb;
  font-size: 12px;
  float: right; }

.edge_info, .info {
  color: #363636;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 250px;
  padding: 12px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 6px solid #363636; }

.info.type-person {
  border-top: 6px solid #004681; }

.info.type-club {
  border-top: 6px solid #ee3654; }

.info.type-skill {
  border-top: 6px solid #fad900; }

.info.type-third-internship-proposal {
  border-top: 6px solid #33c2e0; }

.info.type-internship {
  border-top: 6px solid #ff8b11; }

.info.type-interest {
  border-top: 6px solid #8b3ab0; }

.info.type-empty {
  border-top: 6px solid #919095; }

.info.type-chainlink {
  border-top: 6px solid #363636; }

.info.type-project {
  border-top: 6px solid #40c200; }

.info .info-card-attr {
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Source_Bold", sans-serif; }

.info .info-card-attr-val {
  display: block;
  text-transform: capitalize;
  font-size: 24px;
  margin: 12px 0px 24px 0px; }

.info-card-attr-val input {
  width: 100%;
  font-size: 24px; }

.info-card-url input {
  font-size: 14px;
  margin-left: 20px; }

.info-card-url:before {
  position: absolute;
  margin-top: 7px;
  content: "";
  background: url(../img/url-icon.png);
  min-width: 14px;
  min-height: 14px;
  background-position: center;
  background-repeat: no-repeat; }

.select-dropdown {
  border: none;
  font-family: "Source_Regular", sans-serif;
  background-color: white;
  font-size: 18px;
  color: #363636;
  width: 100%;
  padding: 0;
  margin: 12px 0px 24px 0px; }

.select-dropdown:focus {
  outline: none; }

.select-dropdown option {
  font-size: 18px;
  color: #363636;
  border: 1px solid #363636; }

#info-container__bottom-btn-bar {
  border-top: 2px solid #d4d4d9;
  margin-top: 10px;
  padding-top: 10px; }

.kbd-button {
  background-color: #f7f7f7;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  border-radius: 3px;
  border: 1px solid lightgray;
  display: inline-block;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  margin: 0 0.2em;
  padding: 0.1em 0.6em;
  vertical-align: middle;
  white-space: nowrap; }

#search {
  font-family: "Source_Regular", sans-serif;
  font-size: 18px; }

#search-suggestion {
  position: absolute;
  width: 100%;
  /* span the width of containing 'input-container' */
  top: 42px; }

#search-suggestion .suggestion-item {
  padding: 12px 0px 12px 24px; }

#search-suggestion .suggestion-item.selected, #search-suggestion .suggestion-item:hover {
  padding: 12px 0px 12px 22px; }

.task-alert {
  position: relative;
  width: 100%;
  min-height: 48px;
  text-align: center;
  background-color: #d3f2f8;
  color: #1d6e7f;
  border-top: 1px solid #8eb6bf;
  border-bottom: 1px solid #8eb6bf; }

.task-desc {
  display: inline-block;
  font-size: 18px;
  padding: 15px 10px;
  text-align: center; }

.task-close-button {
  cursor: pointer;
  font-size: 14px;
  margin: 15px 70px 15px 15px;
  float: right;
  width: 70px;
  text-align: right; }

.task-close-button:after {
  content: " ";
  min-height: 20px;
  padding-right: 20px;
  margin-left: 4px;
  background: url(../img/close-alert-button.png);
  background-position: center;
  background-repeat: no-repeat; }

.top-bar {
  line-height: 48px;
  background-color: #363636; }

.top-bar__user-area {
  margin-right: 20px;
  vertical-align: middle; }

.username {
  display: inline-block;
  text-align: right; }

.profile-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #33c2e0;
  display: none; }

.profile-initials {
  display: inline-block;
  color: #f5f5fa;
  font-size: 14px;
  position: relative;
  left: -27px;
  top: -10px; }

.profile-username {
  color: #f5f5fa; }

#doc-title {
  font-family: "Source_Semibold", sans-serif;
  color: #f5f5fa;
  margin-left: 40px;
  font-size: 18px; }

#top-bar__float-right {
  float: right;
  margin-right: 20px; }

#logo-3rd-party__CRI {
  background-color: white;
  border-radius: 3px;
  height: 25px;
  padding: 2px;
  vertical-align: middle; }

/* Headings */
h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px;
  line-height: 1.4; }

/* Paragraph */
p {
  font-size: 12px;
  color: #363636;
  line-height: 1.4; }

.tool_bar_btn {
  border: 1px solid #919095;
  cursor: pointer;
  float: right;
  height: 36px;
  line-height: 36px;
  margin-left: 10px;
  text-align: center;
  width: 50px; }

#tool-bar {
  margin-top: 24px;
  position: absolute;
  right: 20px;
  z-index: 1; }

#btn_filter {
  background: url(../img/toolbar_icon__filter.png);
  background-repeat: no-repeat;
  background-position: center; }

#btn_export {
  background: url(../img/toolbar_icon__export.png);
  background-position: center;
  background-repeat: no-repeat; }

#btn_merge {
  width: 80px; }

#btn_link_fan {
  background: url(../img/url-icon.png);
  background-position: center;
  background-repeat: no-repeat; }

.graph-view {
  background-color: #f5f5fa;
  height: 100%; }

.node {
  stroke-width: 1px;
  font-size: 18px;
  z-index: 100; }

.circle {
  z-index: 100;
  pointer-events: all;
  fill: #363636; }

.nodetext {
  fill: #363636;
  font-size: 18px;
  z-index: 3; }

.svg-input-fo-node {
  fill: #363636;
  z-index: 3; }

.svg-input-fo-node input {
  font-size: 18px;
  background-color: transparent; }

.linklabel {
  stroke: #363636;
  font-size: 14px;
  background-color: transparent; }

.svg-input-fo-link {
  stroke: #363636; }

.svg-input-fo-link input {
  font-size: 14px;
  background-color: transparent; }

.link {
  fill: none;
  stroke: #919095;
  stroke-width: 1px;
  stroke-opacity: 0.5;
  z-index: 1; }

.ghostlink {
  opacity: 0.0;
  fill: none;
  stroke-width: 15px;
  z-index: 2;
  /* higher than link, lower than node */ }

.circle.chosen {
  stroke: #33c2e0;
  stroke-opacity: 0.5; }

.circle.enter {
  stroke: #33c2e0;
  stroke-opacity: 0.5; }

.circle.bubble {
  fill: rgba(255, 255, 255, 0.4);
  pointer-events: none; }

.circle.exit {
  stroke: #33c2e0;
  stroke-opacity: 0.5; }

.circle.chainlink {
  stroke: #AAA; }

.circle.temp {
  box-shadow: 0 0 40px #FFFF8F; }

.circle.temp, .circle.chosen {
  stroke-width: 3px; }

.circle.temp.empty {
  stroke-width: 1.5px; }

/* Per node and edge type (type is a property of nodes and links) styling
 * note that this should be automatically generated somehow for user settings.
 */
.circle.person {
  fill: #004681; }

.circle.club {
  fill: #ee3654; }

.circle.skill {
  fill: #fad900; }

.circle.interest {
  fill: #8b3ab0; }

.circle.project {
  fill: #40c200; }

.circle.third-internship-proposal {
  fill: #33c2e0; }

.circle.internship {
  fill: #ff8b11; }

.circle.empty {
  fill: #919095; }

.circle.chainlink {
  fill: #363636; }

/* Selected parts of the graph, right now by clicking, later with search. */
.notselected {
  opacity: 0.2;
  -webkit-filter: blur(10px); }

.node.first-selected .circle {
  stroke: #fad900;
  stroke-opacity: 1;
  stroke-width: 3px;
  z-index: 1; }

.node.root-selected .circle {
  stroke: #33c2e0;
  stroke-opacity: 1;
  stroke-width: 2px;
  z-index: 1; }

.graph.link.temp_and {
  stroke-dasharray: 3,3; }

.highlightlink {
  fill: none;
  stroke: #33c2e0;
  stroke-opacity: 0.5;
  stroke-width: 2px;
  z-index: 1; }

.link.enter, .link.exit, .link.selected {
  fill: none;
  stroke: #33c2e0;
  stroke-opacity: 0.5;
  stroke-width: 2px;
  z-index: 1; }

#editbox input {
  width: 130px; }

.overlay {
  fill: none;
  pointer-events: all;
  z-index: 0; }

.editinfo {
  position: fixed;
  top: -40px;
  z-index: 5; }

.editlinkinfo {
  position: fixed;
  top: -40px;
  z-index: 5; }

#editlinkname {
  width: inherit;
  height: inherit;
  font-size: 18px; }

#editname {
  width: inherit;
  height: inherit;
  font-size: 18px; }

#graph-view__canvas {
  height: inherit; }

.insideforeign {
  display: inline; }
  .insideforeign:focus {
    outline: none; }

.foreign {
  text-align: left; }

.welcome-box {
  margin-left: auto;
  margin-right: auto;
  padding: 36px;
  margin-top: 36px;
  width: 420px;
  background: white; }

.login-view-section {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center; }

.login-rhizi-logo {
  background: url("/static/img/logo-red.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 54px;
  height: 30px; }

.login-header {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  color: #ee3654; }

.login-text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 12px; }
  .login-text em {
    font-family: "Source_Bold", sans-serif;
    font-style: normal; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: ' ';
    display: table; }
  .clearfix:after {
    clear: both; }

.login-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.login-input {
  width: 75%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: #f5f5fa;
  border: 1px solid #d4d4d9;
  -webkit-appearance: none;
  padding: 12px 12px 12px 20%;
  background-repeat: no-repeat;
  background-position: 18px 14px; }
  .login-input:focus {
    outline: none;
    background-color: #f5f5fa;
    border: 1px solid #d4d4d9;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3); }
  .login-input[type="email"] {
    background-image: url(../img/mail-icon.png); }
  .login-input[type="password"] {
    background-image: url(../img/password-icon.png);
    background-position-x: 22px;
    border-top: none; }

.forgot-password {
  color: #919095;
  text-decoration: none; }
  .forgot-password:hover {
    color: #363636; }

.section-divider {
  color: #919095; }
  .section-divider:before {
    content: "";
    width: 112px;
    margin-top: 12px;
    position: absolute;
    height: 0;
    margin-left: -118px;
    border-top: 1px solid #919095; }
  .section-divider:after {
    content: "";
    width: 112px;
    margin-top: 12px;
    position: absolute;
    margin-left: 4px;
    height: 0;
    border-top: 1px solid #919095; }

.contact-us-icon {
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/hr-email-icon.png) no-repeat;
  margin-left: auto;
  display: inline-block;
  margin-right: auto;
  height: 25px;
  width: 25px; }

.contact-us-text {
  color: #ee3654; }

.contact-us-link {
  color: #ee3654;
  text-decoration: underline; }

.magenta-divider:before {
  border-top: 1px solid #ee3654; }
.magenta-divider:after {
  border-top: 1px solid #ee3654; }

.login-form_button {
  cursor: pointer;
  background-color: #ee3654;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  padding: 12px;
  width: 100%; }
  .login-form_button:hover {
    background-color: #d10a40; }
  .login-form_button:focus {
    background-color: #d10a40; }

#login-page_forgot-password-button {
  margin-top: 12px; }

#login-page_create-account-button {
  color: #f5f5fa;
  background-color: #919095;
  padding: 12px 0; }
  #login-page_create-account-button:hover {
    background-color: #363636; }

#cmn-form-row--instruction-line {
  margin-bottom: 12px; }

/* #user_signup_form_panel {
	width: 550px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 20px 30px;
	margin-top: 80px;
	background: white;
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.3);
} */
/* #signup_form__submit_button {
	background-color: #ee3654;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	float: right;
	font-weight: bold;s
	margin: 20px;
	padding: 12px 20px;
	text-align: center;
	width: 140px;
} */
.signup_form__row {
  width: 100%; }

/* .signup_form__field {
	border-radius: 3px;
	border: 1px solid #4B7CBD;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}

.signup_form__row_sharing_field {
	display: inline-block;
}

.signup_form__field input {
	background-color: inherit;
	border: none;
}

.signup_form__field input:focus {
	outline: none;
}

#signup_form__title {
	color: #ee3654;
	margin-bottom: 30px;
	background: url(../img/logo-red.png);
	background-repeat: no-repeat;
	background-position: 140px 2px;
}

#signup_form__submit_button_row {
	overflow: auto;
}  */
.input-username {
  background-image: url(../img/user-icon.png);
  background-position-x: 21px; }

.signup-button {
  width: 92%; }

#signup_form__submit_button:hover {
  alpha: 1.0; }

#signup_form__ajax_response {
  margin-top: 30px;
  margin: 10px; }

#err_msg_row p {
  margin-top: 12px;
  width: 92%;
  padding: 12px;
  font-size: 14px;
  line-hight: 18px;
  text-align: center;
  color: #d10a40;
  background-color: #fef2f4;
  border: 1px solid #d10a40; }

svg text::selection {
  background: none; }
