@import url(vendor/ui.css);
@font-face {
  font-family: 'Source_Regular';
  src: url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.woff") format("woff"), url("../font/sourcesanspro_regular/SourceSansPro-Regular-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Source_Semibold';
  src: url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.woff") format("woff"), url("../font/sourcesanspro_semibold/SourceSansPro-Semibold-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Source_Bold';
  src: url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.woff") format("woff"), url("../font/sourcesanspro_bold/SourceSansPro-Bold-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }
/* Vertical spacing */
/* Horizontal spacing */
html, body {
  height: 100%;
  font-family: "Source_Regular", sans-serif;
  overflow: hidden;
  /* hide horizontal & vertical scrollbars */ }

body {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #f5f5fa; }

a {
  text-decoration: none;
  color: #919095; }

a:link {
  color: #919095; }

a:visited {
  color: #919095; }

a:hover {
  color: #363636; }

a:active {
  color: #919095; }

input, .input {
  background-color: white;
  color: #363636;
  border: 0;
  font-size: 18px; }
  input:focus, .input:focus {
    border: 0;
    outline: 0;
    background-color: white; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #919095; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #919095;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #919095;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #919095; }

.rhizi-logo {
  position: fixed;
  color: #363636;
  bottom: 10px;
  right: 10px;
  vertical-align: middle; }

.logo-3rd-party {
  height: 30px; }

#content {
  height: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit; */
  font-family: "Source_Regular", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn-regular {
  cursor: pointer;
  background-color: white;
  font-family: "Source_Regular", sans-serif;
  font-size: 14px;
  color: #004681;
  padding: 12px 24px 12px 24px;
  margin-right: 6px;
  border-radius: 4px;
  border: none; }

.btn-regular:hover {
  color: #8eb6bf;
  border-color: #8eb6bf; }

.btn-regular:focus {
  outline: none; }

.btn-regular-outline {
  border: 1px solid #004681; }

#btn-search {
  background: url("/static/img/search-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgreen; }

#btn-logout {
  margin-left: 15px;
  font-size: 0.8em; }

#btn-logout:hover {
  opacity: 0.7;
  cursor: pointer; }

#btn_rzdoc__new {
  background: url("../img/rzdoc-new.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px; }

#btn_rzdoc__open {
  background: url("../img/rzdoc-open.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  width: 32px; }

.cmn-form {
  width: 420px;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px; }

.cmn-form-input {
  border: 1px solid #d4d4d9;
  background-color: #f5f5fa;
  background-repeat: no-repeat;
  background-position: 18px 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15%;
  /* provide room for background image */
  width: 85%; }
  .cmn-form-input:focus {
    outline: none;
    background-color: #f5f5fa;
    border: 1px solid #d4d4d9;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3); }
  .cmn-form-input[type="email"] {
    background-image: url(../img/mail-icon.png); }
  .cmn-form-input[type="password"] {
    background-image: url(../img/password-icon.png); }

.cmn-form-logo {
  background: url("/static/img/logo-red.png");
  background-repeat: no-repeat;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 54px;
  height: 30px; }

.cmn-form-row {
  width: 100%; }

.cmn-form-title {
  color: #ee3654;
  display: block;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.cmn-form-section {
  margin-top: 12px;
  margin-bottom: 12px; }

.cmn-form__ajax-response {
  text-align: center; }

.cmn-form__submit-btn {
  background-color: #ee3654;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  padding: 12px;
  text-align: center; }

.debug-ui {
  display: none; }

body.debug .debug-ui {
  display: inline;
  position: fixed;
  bottom: 70px;
  left: 10px;
  text-decoration: none; }
body.debug .debug-ui-row {
  float: left;
  width: 100%; }
body.debug .debug-ui-left {
  float: left;
  width: 50%; }
body.debug .debug-ui-right {
  float: right;
  width: 50%; }

.dropdown-menu {
  border: 1px solid #919095;
  color: #363636;
  font-size: 18px;
  list-style-type: none;
  z-index: 100;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3); }

.dropdown-item {
  padding: 6px 0px 6px 18px;
  cursor: pointer;
  text-align: left; }

.dropdown-item:hover {
  padding-left: 16px;
  background-color: #f5f5fa;
  border-left: 2px solid #33c2e0;
  box-sizing: border-box; }

.dropdown-menu-heading {
  background-color: lightgrey;
  border-bottom: 1px solid #d4d4d9;
  font-family: "Source_Bold", sans-serif;
  padding: 6px 0px 6px 18px; }

.dropdown-menu-heading:hover {
  cursor: default; }

.menu__type-filter_item {
  padding-left: 10px;
  text-align: left; }
  .menu__type-filter_item:hover {
    background-color: lightgray; }
  .menu__type-filter_item input {
    position: relative;
    left: -3px;
    top: 3px; }

#menu__type-filter {
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 155px;
  top: 0;
  width: 150px; }

#menu__type-filter_header {
  background: darkgray;
  font-weight: bold; }

.feedback-btn {
  background-clip: padding-box;
  bottom: 220px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  filter: none;
  left: -30px;
  position: fixed;
  padding: 8px;
  transform: rotate(90deg);
  width: auto;
  outline: 0;
  opacity: 0.6;
  z-index: 40000; }

#feedback-module p {
  font-size: 13px; }

#feedback-note-tmp {
  width: 444px;
  height: auto;
  min-height: 90px;
  outline: none;
  font-family: Arial,sans-serif;
  padding: 4px; }

#feedback-note-tmp:focus,
#feedback-overview-note:focus {
  border: 1px solid #64b7cc; }

#feedback-canvas {
  position: absolute;
  top: 0;
  left: 0; }

#feedback-welcome {
  top: 30%;
  left: 50%;
  margin-left: -270px;
  display: block;
  position: fixed; }

.feedback-logo {
  background: url(icons.png) 0px 0px no-repeat;
  width: 34px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  padding-left: 40px;
  height: 32px; }

.feedback-next-btn {
  width: 72px;
  height: 29px;
  line-height: 27px;
  float: right;
  font-size: 13px;
  padding: 0 8px; }

.feedback-back-btn {
  width: 72px;
  height: 29px;
  line-height: 27px;
  float: right;
  font-size: 13px;
  padding: 0 8px;
  margin-right: 20px; }

.feedback-submit-btn {
  width: 72px;
  height: 29px;
  line-height: 27px;
  float: right;
  font-size: 13px;
  padding: 0 8px; }

.feedback-close-btn {
  width: 72px;
  height: 29px;
  line-height: 27px;
  float: right;
  font-size: 13px;
  padding: 0 8px; }

.feedback-helper {
  background: transparent;
  cursor: default; }

.feedback-helper[data-type="highlight"] > .feedback-helper-inner {
  background: rgba(0, 68, 255, 0.1); }

#feedback-close {
  cursor: pointer;
  position: absolute;
  background: url(icons.png) 0px -64px;
  width: 30px;
  height: 30px; }

.feedback-wizard-close {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  background: url(icons.png) 0px -34px;
  width: 30px;
  height: 30px;
  opacity: 0.65; }

.feedback-wizard-close:hover {
  opacity: 1; }

#feedback-welcome-error,
#feedback-overview-error {
  display: none;
  color: #f13e3e;
  float: right;
  margin-right: 30px;
  font-size: 13px;
  line-height: 29px; }

#feedback-overview-error {
  margin-top: 20px; }

#feedback-highlighter {
  display: none;
  bottom: 100px;
  right: 100px;
  position: fixed;
  width: 540px;
  height: 275px; }

#feedback-overview {
  display: none;
  top: 10%;
  left: 50%;
  margin-left: -420px;
  position: fixed;
  width: 840px !important;
  height: auto; }

#feedback-submit-error,
#feedback-submit-success {
  top: 30%;
  left: 50%;
  margin-left: -300px;
  display: block;
  position: fixed;
  width: 600px;
  height: auto; }

.feedback-btn-gray {
  text-align: center;
  cursor: pointer;
  font-family: 'Open sans';
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  border-radius: 2px;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1); }

.feedback-btn-gray:hover {
  color: #333;
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1); }

.feedback-btn-blue {
  text-align: center;
  cursor: pointer;
  font-family: 'Open sans';
  border-radius: 2px;
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  color: #fff; }

#feedback-note-tmp,
#feedback-overview-note {
  resize: none; }

#feedback-welcome,
#feedback-highlighter,
#feedback-overview,
#feedback-submit-success,
#feedback-submit-error {
  font-family: Arial,sans-serif;
  z-index: 40000;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.333);
  padding: 30px 42px;
  width: 540px;
  border: 1px solid rgba(0, 0, 0, 0.333);
  outline: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transform: translateZ(); }

.feedback-sethighlight,
.feedback-setblackout {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  color: #444;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 30px;
  line-height: 28px;
  min-width: 90px;
  outline: 0;
  padding: 0 8px;
  display: inline-block;
  float: left; }

.feedback-setblackout {
  margin-top: 10px;
  clear: both; }

.feedback-sethighlight div {
  background: url(icons.png) 0px -94px;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  float: left; }

.feedback-setblackout div {
  background: url(icons.png) -16px -94px;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  float: left; }

.feedback-sethighlight:hover,
.feedback-setblackout:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #333; }

.feedback-active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
  background-image: -moz-linear-gradient(top, #eee, #e0e0e0);
  background-image: -ms-linear-gradient(top, #eee, #e0e0e0);
  background-image: -o-linear-gradient(top, #eee, #e0e0e0);
  background-image: linear-gradient(top, #eee, #e0e0e0);
  border: 1px solid #ccc;
  color: #333; }

#feedback-highlighter label {
  float: left;
  margin: 0 0 0 10px;
  line-height: 30px;
  font-size: 13px;
  font-weight: normal; }

#feedback-highlighter label.lower {
  margin-top: 10px; }

.feedback-buttons {
  float: right;
  margin-top: 20px;
  clear: both; }

#feedback-module h3 {
  font-weight: bold;
  font-size: 15px;
  margin: 8px 0; }

.feedback-additional {
  margin-bottom: 20px !important; }

#feedback-overview-description {
  float: left; }

#feedback-overview-note {
  width: 314px;
  padding: 4px;
  height: 90px;
  outline: none;
  font-family: Arial,sans-serif; }

#feedback-overview-screenshot {
  float: right; }

.feedback-screenshot {
  max-width: 396px;
  padding: 1px;
  border: 1px solid #adadad; }

#feedback-overview-description-text span {
  font-size: 14px;
  margin: 8px 0;
  color: #666;
  padding-left: 10px;
  background: url(icons.png) -30px -34px no-repeat;
  margin-left: 26px; }

#feedback-browser-info,
#feedback-page-info,
#feedback-page-structure,
#feedback-additional-none {
  margin-top: 16px;
  display: none; }

.input-container {
  width: 35%; }
  .input-container form {
    display: inline; }

.input-bar {
  font-family: "Source_Regular", sans-serif;
  color: #919095;
  max-height: 36px;
  padding: 6px 8px 5px 8px;
  border: 1px solid #919095;
  box-sizing: border-box;
  background: white;
  width: 100%; }
  .input-bar:focus {
    border: 1px solid #919095;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3); }

#input-container__search {
  left: 24px;
  margin-top: 24px;
  position: absolute; }

#input-container__graph-input {
  position: absolute;
  margin-top: 80px;
  left: 24px;
  height: 36px;
  line-height: initial; }
  #input-container__graph-input:focus {
    width: 80%; }
  #input-container__graph-input [contentEditable=true]:empty:not(:focus):before {
    content: attr(placeholder); }

#textanalyser.ui-autocomplete-input {
  font-family: "Source_Regular", sans-serif;
  color: #919095; }

#textanalyser {
  height: 36px; }

#btn_add {
  float: right;
  background: url(../img/plus-button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
  position: absolute;
  height: 36px;
  width: 36px;
  top: 0px;
  right: 0px;
  border: 0; }

#btn_search {
  float: right;
  background: url(../img/search-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgreen;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 36px;
  width: 36px;
  border: 0; }

.add-button:hover {
  background-color: #d10a40; }

.add-button:focus {
  outline: none; }

#input-suggestion {
  width: 100%; }

.suggestion {
  position: relative;
  color: #363636;
  max-height: 580px;
  overflow-y: scroll;
  font-size: 18px;
  list-style-type: none;
  width: inherit;
  margin-top: 6px;
  border: 1px solid #919095;
  box-sizing: border-box;
  background: white;
  z-index: 100;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3); }

.suggestion-item {
  padding: 6px 0px 6px 18px;
  cursor: pointer; }

.suggestion-item.selected, .suggestion-item:hover {
  padding-left: 16px;
  background-color: #f5f5fa;
  border-left: 5px solid #33c2e0;
  box-sizing: border-box; }

.suggestion td {
  position: fixed; }

.ui-helper-hidden-accessible {
  position: fixed;
  top: 203px;
  left: 78px;
  text-shadow: -1px 1px 8px #E DE275, 1px -1px 8px #EDE275;
  font-size: 16px; }

.ui-helper-hidden-accessible > div {
  color: #363636; }

.analyser-span-node {
  color: blue; }

.analyser-span-link {
  color: red; }

.analyser-span-space-node-link {
  color: red; }

.analyser-span-space-link-node {
  color: blue; }

.type_selection {
  color: #363636;
  font-size: 18px;
  position: fixed;
  pointer-events: none; }

.type_selection__row {
  margin-top: 3px;
  margin-bottom: 3px; }

#type_selection__chosen_type_name {
  background-color: #D3D3D3;
  border-radius: 3px;
  padding: 0 7px;
  margin-left: 3px; }

#keys {
  opacity: 0.5; }

.info-container {
  margin-top: 85px;
  margin-bottom: 20px;
  position: absolute;
  max-height: 300px;
  background-color: white;
  border-top: 6px solid #363636;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  overflow-y: auto;
  padding: 12px 10px;
  right: 10px;
  width: 300px;
  box-sizing: border-box; }

.info-container textarea {
  font-size: 14px;
  font-family: sans-serif;
  max-width: 280px; }

.info-card-attr {
  font-size: 14px;
  font-family: "Source_Bold", sans-serif;
  text-transform: capitalize;
  margin-bottom: 5px; }

.info-card-attr-val {
  font-size: 14px;
  width: 100%; }

.info-container__row {
  margin-top: 10px;
  margin-bottom: 10px; }

.info-card-url input {
  font-size: 14px;
  margin-left: 24px; }

.info-card-url:before {
  background: url(../img/url-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  min-width: 14px;
  min-height: 14px;
  position: absolute; }

.select-dropdown {
  border: none;
  font-family: "Source_Regular", sans-serif;
  background-color: white;
  font-size: 18px;
  color: #363636;
  width: 100%;
  padding: 0; }

.select-dropdown:focus {
  outline: none; }

.select-dropdown option {
  font-size: 18px;
  color: #363636;
  border: 1px solid #363636; }

.subtitle {
  font-style: italic;
  color: #bbb;
  font-size: 12px;
  float: right; }

.info-container.type-person {
  border-top-color: #004681; }

.info-container.type-club {
  border-top-color: #ee3654; }

.info-container.type-skill {
  border-top-color: #fad900; }

.info-container.type-internship {
  border-top-color: #ff8b11; }

.info-container.type-interest {
  border-top-color: #8b3ab0; }

.info-container.type-empty {
  border-top-color: #919095; }

.info-container.type-third-internship-proposal {
  border-top-color: #33c2e0; }

.info-container.type-project {
  border-top-color: #40C200; }

.kbd-button {
  background-color: #f7f7f7;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  border: 1px solid lightgray;
  display: inline-block;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  margin: 0 0.2em;
  padding: 0.1em 0.6em;
  vertical-align: middle;
  white-space: nowrap; }

#search {
  font-family: "Source_Regular", sans-serif;
  font-size: 18px; }

#search-suggestion {
  position: absolute;
  width: 100%;
  /* span the width of containing 'input-container' */
  top: 42px; }

#search-suggestion .suggestion-item {
  padding: 12px 0px 12px 24px; }

#search-suggestion .suggestion-item.selected, #search-suggestion .suggestion-item:hover {
  padding: 12px 0px 12px 22px; }

.task-alert {
  position: relative;
  width: 100%;
  min-height: 48px;
  text-align: center;
  background-color: #D3F2F8;
  color: #1D6E7F;
  border-top: 1px solid #8eb6bf;
  border-bottom: 1px solid #8eb6bf; }

.task-desc {
  display: inline-block;
  font-size: 18px;
  padding: 15px 10px;
  text-align: center; }

.task-close-button {
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 70px; }

.task-close-button:after {
  content: " ";
  min-height: 32px;
  padding-right: 32px;
  margin-left: 4px;
  background: url(../img/close-alert-button.png);
  background-position: center;
  background-repeat: no-repeat; }

.top-bar {
  line-height: 40px;
  background-color: #363636;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 5px; }

.top-bar__user-area {
  margin-right: 20px;
  vertical-align: middle; }

.username {
  display: inline-block;
  text-align: right; }

.profile-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #33c2e0;
  display: none; }

.profile-initials {
  display: inline-block;
  color: #f5f5fa;
  font-size: 14px;
  position: relative;
  left: -27px;
  top: -10px; }

.profile-username {
  color: #f5f5fa; }

#top-bar_float-left {
  float: left;
  margin-left: 40px; }

#top-bar_float-right {
  float: right;
  margin-right: 20px; }

#rzdoc-bar {
  color: #f5f5fa;
  position: relative;
  overflow-x: auto;
  margin-right: 20px;
  min-width: 250px; }

#rzdoc-bar_doc-label {
  font-family: "Source_Semibold", sans-serif;
  font-size: 18px;
  font-weight: bold; }

#site-logo {
  border-radius: 3px;
  height: 25px;
  padding: 2px;
  vertical-align: middle; }

/* Headings */
h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px;
  line-height: 1.4; }

/* Paragraph */
p {
  font-size: 12px;
  color: #363636;
  line-height: 1.4; }

.tool_bar_btn {
  border: 1px solid #919095;
  cursor: pointer;
  float: right;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  margin-left: 10px;
  text-align: center;
  width: 65px; }

.toolbar__close_btn {
  border-bottom-left-radius: 6px;
  background-color: dimgray;
  color: white;
  cursor: pointer;
  font-family: fantasy;
  font-size: 12px;
  padding: 2px 8px;
  position: absolute;
  right: 0px; }

#tool-bar {
  margin-top: 24px;
  position: absolute;
  right: 10px;
  z-index: 1; }

#tool-bar-top-bar {
  float: right;
  padding-bottom: 10px; }

#tool-bar-multiple-node-operations {
  float: right; }

#btn_layout:after {
  bottom: 10px;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  content: ' ';
  height: 0;
  position: absolute;
  margin-left: 0px;
  right: 0;
  width: 0; }

#btn_merge {
  width: 65px; }

#btn_delete {
  width: 65px; }

.btn_layout {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 65px;
  right: 1px; }

#zoom-bar {
  position: absolute;
  bottom: 70px;
  right: 10px;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding: 5px 4px 0px 4px; }

#btn_zoom_to_selection {
  background: url(../img/icon__zoom_to_selection.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 25px;
  margin-bottom: 5px; }

#btn_zoom_in {
  background: url(../img/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-bottom: 5px; }

#btn_zoom_out {
  background: url(../img/minus.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 25px; }

.cmd-bar {
  background-color: #85B375;
  width: 100%; }

.cmd-bar_close_bar {
  background-color: lightgray;
  text-align: center;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 100%; }

.cmd-bar_body {
  padding: 8px 20px; }

.cmd-bar_btn {
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: white;
  padding: 2px 8px;
  margin-left: 10px;
  vertical-align: middle; }

#cmd_bar__rzdoc_new__input {
  padding: 2px 8px;
  margin-left: 10px;
  vertical-align: middle;
  width: 200px; }

#cmd_bar__rzdoc_new__label {
  color: white;
  margin-left: 40px;
  vertical-align: middle; }

#cmd_bar__rzdoc_new__submit {
  background-color: yellowgreen; }

#cmd_bar__rzdoc_open__rzdoc_list {
  overflow: auto; }

.cmd_bar__rzdoc_open__item {
  border-radius: 3px;
  background-color: white;
  float: left;
  font-size: 14px;
  margin: 3px 5px;
  padding: 3px 5px;
  white-space: nowrap; }
  .cmd_bar__rzdoc_open__item:hover {
    background-color: #b9b9b9;
    cursor: pointer; }

#status-bar {
  background-color: #A3C9EA; }

.status-bar__body {
  padding: 10px 20px; }

.status-bar__btn_rzdoc_create_post_404 {
  border-radius: 2px;
  background-color: #4499E0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 8px; }

.activity__entry {
  background-color: #E0E0E0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  line-height: 20px;
  padding: 0px 5px; }
  .activity__entry:hover {
    background-color: #b9b9b9; }
  .activity__entry:focus {
    outline: none; }

.activity__entry__author {
  font-size: 0.8em;
  margin-left: 5px;
  float: right;
  color: crimson; }

.activity__entry__summery {
  color: blue; }

.activity__entry__date {
  font-size: 0.6em;
  float: right; }

#activity_view {
  bottom: 0px;
  cursor: pointer;
  left: 10px;
  position: fixed;
  width: 45%; }

#activity_view__body {
  background-color: transparent;
  max-height: 110px;
  overflow-y: auto; }

#activity_view__header {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 3px 3px 0 0;
  text-align: center; }

.graph-view {
  background-color: #f5f5fa;
  height: 100%; }

.node {
  stroke-width: 1px;
  font-size: 18px;
  z-index: 100;
  pointer-events: all; }

.notselected, .notselected * {
  opacity: 0.5;
  -webkit-filter: blur(10px); }
  .notselected:hover, .notselected *:hover {
    opacity: 1;
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.linklabel.notselected {
  display: none; }

.nodetext {
  fill: #363636;
  font-size: 18px;
  z-index: 3; }

.svg-input-fo-node {
  fill: #363636;
  z-index: 3; }

.svg-input-fo-node input {
  font-size: 18px;
  background-color: transparent; }

.svg-input-fo-link {
  stroke: #363636; }

.svg-input-fo-link input {
  font-size: 14px;
  background-color: transparent; }

.link {
  fill: #d10a40;
  pointer-events: all;
  stroke: #919095;
  stroke-width: 1px;
  stroke-opacity: 0.5;
  z-index: 1; }
  .link.selected {
    stroke: #fad900;
    stroke-opacity: 1.0;
    stroke-width: 2px; }
  .link.related {
    fill: none;
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .link.hovering {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    opacity: 1; }

.linklabel {
  font-size: 14px;
  fill: black;
  stroke: transparent;
  text-shadow: 2px 2px yellow; }

.ghostlink {
  opacity: 0.0;
  fill: white;
  pointer-events: all;
  stroke-width: 15px;
  z-index: 2;
  /* higher than link, lower than node */ }

.circle.bubble {
  fill: rgba(87, 154, 202, 0.17);
  stroke: rgba(87, 154, 202, 0.17);
  pointer-events: none; }

/* Per node and edge type (type is a property of nodes and links) styling
 * note that this should be automatically generated somehow for user settings.
 */
.node.person {
  fill: #004681;
  stroke: #004681;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.person.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.person.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.person:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.personality-trait {
  fill: #ff8b11;
  stroke: #ff8b11;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.personality-trait.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.personality-trait.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.personality-trait:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.accepting-changes {
  fill: #b3fa00;
  stroke: #b3fa00;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.accepting-changes.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.accepting-changes.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.accepting-changes:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.decision-making {
  fill: #4bfa00;
  stroke: #4bfa00;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.decision-making.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.decision-making.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.decision-making:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.beneficiary {
  fill: #40C200;
  stroke: #40C200;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.beneficiary.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.beneficiary.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.beneficiary:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.completed-project {
  fill: #8b3ab0;
  stroke: #8b3ab0;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.completed-project.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.completed-project.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.completed-project:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.ongoing-project {
  fill: #ee3654;
  stroke: #ee3654;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.ongoing-project.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.ongoing-project.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.ongoing-project:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.future-project {
  fill: #33c2e0;
  stroke: #33c2e0;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.future-project.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.future-project.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.future-project:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.collaborator {
  fill: #004681;
  stroke: #004681;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.collaborator.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.collaborator.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.collaborator:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.club {
  fill: #ee3654;
  stroke: #ee3654;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.club.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.club.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.club:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.skill {
  fill: #fad900;
  stroke: #fad900;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.skill.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.skill.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.skill:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.interest {
  fill: #8b3ab0;
  stroke: #8b3ab0;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.interest.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.interest.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.interest:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.third-internship-proposal {
  fill: #33c2e0;
  stroke: #33c2e0;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.third-internship-proposal.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.third-internship-proposal.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.third-internship-proposal:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.internship {
  fill: #ff8b11;
  stroke: #ff8b11;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.internship.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.internship.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.internship:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.team {
  fill: #ff8b11;
  stroke: #ff8b11;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.team.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.team.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.team:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.empty {
  fill: #919095;
  stroke: #919095;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.empty.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.empty.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.empty:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.project {
  fill: #ee3654;
  stroke: #ee3654;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.project.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.project.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.project:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.keyword {
  fill: #8b3ab0;
  stroke: #8b3ab0;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.keyword.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.keyword.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.keyword:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.idea {
  fill: #40C200;
  stroke: #40C200;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.idea.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.idea.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.idea:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

.node.resource {
  fill: #33c2e0;
  stroke: #33c2e0;
  stroke-width: 4px;
  stroke-opacity: 0.4; }
  .node.resource.related {
    stroke: #33c2e0;
    stroke-opacity: 0.5;
    stroke-width: 2px; }
  .node.resource.selected {
    stroke: #fad900;
    stroke-opacity: 0.5;
    stroke-width: 2px;
    z-index: 1; }
  .node.resource:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5;
    stroke-width: 5px; }

/* Selected parts of the graph, right now by clicking, later with search. */
.node.first-selected {
  stroke: #fad900;
  stroke-opacity: 0.5;
  stroke-width: 6px;
  z-index: 1; }
  .node.first-selected:hover {
    stroke: #ff8b11;
    stroke-opacity: 0.5; }

.graph.link.temp_and {
  stroke-dasharray: 3,3; }

#editbox input {
  width: 130px; }

.overlay {
  fill: none;
  pointer-events: all;
  z-index: 0; }

.editinfo {
  position: fixed;
  top: -40px;
  z-index: 5; }

.editlinkinfo {
  position: fixed;
  top: -40px;
  z-index: 5; }

#editlinkname {
  width: inherit;
  height: inherit;
  font-size: 18px; }

#graph-view__canvas {
  height: inherit; }

.insideforeign {
  display: inline; }
  .insideforeign:focus {
    outline: none; }

.foreign {
  text-align: left; }

.activity-fold {
  width: 100%; }

.activity-fold-button {
  cursor: pointer;
  width: 100%;
  border-radius: 0 0 8px 8px;
  height: 20px;
  background-color: rgba(1, 1, 1, 0.3);
  text-align: center; }

.activity-root-div {
  width: 100%;
  max-height: 400px;
  background: white;
  overflow: auto; }

.activity-div {
  border: 1px solid #f5f5fa; }

.activity-div:hover {
  color: #8eb6bf;
  border-color: #8eb6bf; }

.activity-div:focus {
  outline: none; }

.welcome-box {
  margin-left: auto;
  margin-right: auto;
  padding: 36px;
  margin-top: 36px;
  width: 420px;
  background: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.55); }

.login-view-section {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center; }

.login-rhizi-logo {
  background: url("/static/img/logo-red.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 54px;
  height: 30px; }

.login-header {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  color: #ee3654; }

.login-text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 12px; }
  .login-text em {
    font-family: "Source_Bold", sans-serif;
    font-style: normal; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: ' ';
    display: table; }
  .clearfix:after {
    clear: both; }

.login-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.login-input {
  width: 75%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: #f5f5fa;
  border: 1px solid #d4d4d9;
  -webkit-appearance: none;
  padding: 12px 12px 12px 20%;
  background-repeat: no-repeat;
  background-position: 18px 14px; }
  .login-input:focus {
    outline: none;
    background-color: #f5f5fa;
    border: 1px solid #d4d4d9;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3); }
  .login-input[type="email"] {
    background-image: url(../img/mail-icon.png); }
  .login-input[type="password"] {
    background-image: url(../img/password-icon.png);
    background-position-x: 22px;
    border-top: none; }

.contact-us-icon {
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/hr-email-icon.png) no-repeat;
  margin-left: auto;
  display: inline-block;
  margin-right: auto;
  height: 25px;
  width: 25px; }

.contact-us-text {
  color: #ee3654; }

.contact-us-link {
  color: #ee3654;
  text-decoration: underline; }

.forgot-password {
  color: #919095;
  text-decoration: none; }
  .forgot-password:hover {
    color: #363636; }

.login-form_button {
  cursor: pointer;
  background-color: #ee3654;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  padding: 12px;
  width: 100%; }
  .login-form_button:hover {
    background-color: #d10a40; }
  .login-form_button:focus {
    background-color: #d10a40; }

.magenta-divider:before {
  border-top: 1px solid #ee3654; }
.magenta-divider:after {
  border-top: 1px solid #ee3654; }

.section-divider {
  color: #919095;
  position: relative; }
  .section-divider:before {
    content: "";
    width: 112px;
    margin-top: 12px;
    position: absolute;
    height: 0;
    margin-left: -118px;
    border-top: 1px solid #919095; }
  .section-divider:after {
    content: "";
    width: 112px;
    margin-top: 12px;
    position: absolute;
    margin-left: 4px;
    height: 0;
    border-top: 1px solid #919095; }

#login-view_failed-login {
  padding: 5px;
  background-color: antiquewhite; }

#login-page_forgot-password-button {
  margin-top: 12px; }

#login-page_create-account-button {
  color: #f5f5fa;
  background-color: #919095;
  padding: 12px 0; }
  #login-page_create-account-button:hover {
    background-color: #363636; }

#cmn-form-row--instruction-line {
  margin-bottom: 12px; }

.signup_form__row {
  width: 100%; }

.input-username {
  background-image: url(../img/user-icon.png);
  background-position-x: 21px; }

.signup-button {
  width: 92%; }

#err_msg_row p {
  margin-top: 12px;
  width: 92%;
  padding: 12px;
  font-size: 14px;
  line-hight: 18px;
  text-align: center;
  color: #d10a40;
  background-color: #fef2f4;
  border: 1px solid #d10a40; }

#signup_form__submit_button:hover {
  alpha: 1.0; }

#signup_form__ajax_response {
  margin-top: 30px;
  margin: 10px; }

#signup_form__msg_row {
  padding: 5px;
  background-color: antiquewhite; }

svg text::selection {
  background: none; }

/*# sourceMappingURL=style.css.map */
