// Modules and Variables
@import "partials/base";

// Reset CSS
@import "partials/reset";

// Partials
@import "partials/buttons";
@import "partials/common-form";
@import "partials/dev-area";
@import "partials/dropdown-menu";
@import "partials/grid";
@import "partials/input-bar";
@import "partials/input-bubble";
@import "partials/info-card";
@import "partials/keyboard";
@import "partials/search-bar";
@import "partials/task-alert";
@import "partials/top-bar";
@import "partials/typography";
@import "partials/tool-bar";
@import "partials/zoom-buttons";
@import "partials/toolbar__cmd";
@import "partials/toolbar__status";

// Views
@import "by-view/activity";
@import "by-view/graph-view";
@import "by-view/login";
@import "by-view/pw-reset";
@import "by-view/user-signup";

// Third-party
@import "vendor/ui.css";

// Hacks

// Not sure this bug is the problem, but we don't want svg selection, and since
// editing svg nodes inline is done with an input foreign element, this doesn't
// affect selecting there!
// See http://stackoverflow.com/questions/18124820/html5-svg-text-selection-bug-in-chrome
svg text::selection { background: none; }

