//
// @deprecated: migrate to use common-form.scss
//

.signup_form__row {
    width: 100%;
}

.input-username {
    background-image: url(../img/user-icon.png);
    background-position-x: 21px;
}

.signup-button {
    width: 92%;
}

#err_msg_row p {
    margin-top: $one-baseline;
    width: 92%;
    padding: $one-baseline;
    font-size: $h4-size;
    line-hight: 18px;
    text-align: center;
    color: $dark-magenta;
    background-color: lighten( $magenta, 40% );
    border: 1px solid $dark-magenta;
}

#signup_form__submit_button:hover {
    alpha: 1.0;
}

#signup_form__ajax_response {
    margin-top: 30px;
    margin: 10px;
}

#signup_form__msg_row {
}