@import "../modules/colors";
@import "../modules/mixins";
@import "../modules/typography";
@import "../modules/positions";

//Globals
html, body {
  height: 100%;
  font-family: $base-font-family;
  overflow: hidden; /* hide horizontal & vertical scrollbars */
}

body {
  overflow-y: hidden;
  overflow-x:auto;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color:#f5f5fa;
}

a{
  text-decoration: none;
  color: $mid-grey;
}

a:link {
  color: $mid-grey;
}

a:visited {
  color: $mid-grey;
}

a:hover {
  color: $dark-grey;
}

a:active {
  color: $mid-grey;
}

//input box stuff
input, .input {
  background-color: white;
  color: $dark-grey;
  border: 0;
  &:focus {
    border: 0;
    outline: 0;
    background-color: white;
  }
  font-size: $h3-size;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    $mid-grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $mid-grey;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $mid-grey;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $mid-grey;
}

.rhizi-logo {
  position: fixed;
  color: $dark-grey;
  bottom: 10px;
  right: 10px;
  vertical-align: middle;
}

.logo-3rd-party {
  height: 30px;
}

#content {
    height: 100%;
}
