.btn-regular {
	cursor: pointer;
	background-color: white;
	font-family: $base-font-family;
	font-size: $h4-size;
	color: $blue;
	padding: $one-baseline $two-baselines $one-baseline $two-baselines;
	margin-right: 6px;	
	border-radius: 4px;
	border: none;
}

.btn-regular:hover {
	color: $dark-cyan;
	border-color: $dark-cyan;
}

.btn-regular:focus {
	outline: none;
}

.btn-regular-outline {
	border: 1px solid $blue;
}