.btn-regular {
	cursor: pointer;
	background-color: white;
	font-family: $base-font-family;
	font-size: $h4-size;
	color: $blue;
	padding: $one-baseline $two-baselines $one-baseline $two-baselines;
	margin-right: 6px;	
	border-radius: 4px;
	border: none;
}

.btn-regular:hover {
	color: $dark-cyan;
	border-color: $dark-cyan;
}

.btn-regular:focus {
	outline: none;
}

.btn-regular-outline {
	border: 1px solid $blue;
}

#btn-search {
	background: url('/static/img/search-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: lightgreen;
}

#btn-logout {
	margin-left: 15px;
	font-size: 0.8em;
}

#btn-logout:hover {
	opacity: 0.7;
	cursor: pointer;
}

#btn_rzdoc__new {
    background: url('../img/rzdoc-new.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: $icon-height;
    width: 32px;
}

#btn_rzdoc__open {
    background: url('../img/rzdoc-open.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: $icon-width;
    width: 32px;
}
