.dropdown-menu {
    border: 1px solid $mid-grey;
    color: $dark-grey;
    font-size: $h3-size;
    list-style-type: none;
    z-index: 100;
     @include rz-box-shadow(0px, 3px, 6px, 0px, rgba(0,0,0,0.3) );
 }

.dropdown-item {
    padding: 6px 0px 6px 18px;
    cursor: pointer;
    text-align: left;
}

.dropdown-item:hover {
    padding-left: 16px;
    background-color: $light-grey;
    border-left: 2px solid $cyan;
    @include rz-box-sizing-border;
}

.dropdown-menu-heading {
    background-color: lightgrey;
    border-bottom: 1px solid $mid-light-grey;
    font-family: $bold-font-family;
    padding: 6px 0px 6px 18px;
}

.dropdown-menu-heading:hover {
    cursor: default;
}

#menu__type-filter {
    background-color: $white;
    position: relative;
    right: 220px;
    top: -5px;
    width: 200px;
}
