.type_selection {
    color: $dark-grey;
    font-size: $h3-size;
    position: fixed; // no need for positioning, set via code
    pointer-events: none;
}

.type_selection__row {
    margin-top: 3px;
    margin-bottom: 3px;
}

#type_selection__chosen_type_name {
    background-color: #D3D3D3;
    border-radius: 3px;
    padding: 0 7px;
    margin-left: 3px;
}

#keys{
    opacity: 0.5;
}
