.btn_layout {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    font-size: $h5-size;
    margin-top: 5px;
    position: relative;
    top: 36px;
    text-align: center;
    width: 64px;
}
