#layout-buttons {
  position: absolute;
  bottom: 100px;
  right: 10px;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding: 5px 4px 0px 4px;
  height: 40px;
}

.btn_layout {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  width: 64;
  height: 16px;
}
