.welcome-box {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 80px;
  width: 420px;
  background: white;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.3);
}

.login-rhizi-logo {
  margin-left: auto;
  display: block;
  margin-right: auto;
  padding-top: 25px;
}

.login-header {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  color: $magenta;
}

.login-text {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.login-view-section {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.login-input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  left: -10px;
  margin: 0;
  position: relative;
  width: 80%;

  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &[type="email"] {
    background: url(../img/mail-icon.png) no-repeat scroll 20px 15px;
    background-color:$light-grey;
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    border-radius: 3px 3px 0 0;
    padding-left:60px;
  }

  &[type="password"] {
    background: url(../img/password-icon.png) no-repeat scroll 20px 15px;
    background-color:$light-grey;
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    padding-left:60px;
  }
}

.forgot-password {
  color: $mid-grey;
  text-decoration: none;
  &:hover {
    color: $dark-grey;
  }
}

.login-view-section {
  text-align: center;
}

.login-view-section-div {
  color: #ee3654;

  &:before {
    content: "";
    width: 112px;
    margin-top: 10px;
    position: absolute;
    height: 0;
    margin-left: -118px;
    border-top: 1px solid $magenta;
  }

  &:after {
    content: "";
    width: 112px;
    margin-top: 10px;
    position: absolute;
    margin-left: 4px;
    height: 0;
    border-top: 1px solid $magenta;
  }
}

.contact-us-icon {
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/hr-email-icon.png) no-repeat;
  margin-left: auto;
  display: inline-block;
  margin-right: auto;
  height:25px;
  width:25px;
}

.contact-us-text {
  color: $magenta ;
}

.contact-us-link {
  color: $magenta;
  text-decoration: underline;
}

.login-form_button {
    cursor: pointer;
    background: #ee3654;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    padding: 12px 20px;

    &:hover {
      background: darken( #ee3654, 10% );
    }
}

#login-form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#login-view-section_intro-text {
  margin-bottom: 40px;
}

#login-page_create-account-button {
  display: inline-block;
  background-color: #4478FF;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 5px;
  
  &:hover {
      background: darken( #4478FF, 10% );
  }
}
