@import '../modules/mixins'; // For box-shadow

#search {
  font-family: $base-font-family;
  font-size: $h3-size;
}

#search-suggestion {
  position: absolute;
  width: 100%; /* span the width of containing 'input-container' */
  top: $three-baselines + 6px;
}

#search-suggestion .suggestion-item {
  padding: $one-baseline 0px $one-baseline $two-baselines;
}

#search-suggestion .suggestion-item.selected, #search-suggestion .suggestion-item:hover {
  padding: $one-baseline 0px $one-baseline 22px;
}
