.tool_bar_btn {
    border: 1px solid #919095;
    cursor: pointer;
    float: right;
    height: $three-baselines;
    margin-right: 15px;
    width: 50px;
}

#tool-bar {
    margin-top: 30px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

#btn_filter {
    background: url(../img/toolbar_icon__filter.png);
    background-repeat: no-repeat;
    background-position: center;
}

#btn_export {
    background: url(../img/toolbar_icon__export.png);
    background-position: center;
    background-repeat: no-repeat;
}
