.cmd-bar {
    background-color: #85B375;
    width: 100%;
}

.cmd-bar_close_bar {
    background-color: lightgray;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    width: 100%;
}

.cmd-bar_body {
    padding: 8px 20px;
}

.cmd-bar_btn {
    border-radius: 2px; // TODO: generalize via .toolbar__btn
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    padding: 2px 8px;
    margin-left: 10px;
    vertical-align: middle;
}

#cmd_bar__rzdoc_new__input {
    padding: 2px 8px;
    margin-left: 10px;
    vertical-align: middle;
    width: 200px;
}

#cmd_bar__rzdoc_new__label {
    color: white;
    margin-left: 40px;
    vertical-align: middle;
}

#cmd_bar__rzdoc_new__submit {
    background-color: yellowgreen;
}

#cmd_bar__rzdoc_open {
}

#cmd_bar__rzdoc_open__rzdoc_list {
    overflow: auto;
}

.cmd_bar__rzdoc_open__item {
    border-radius: 3px;
    background-color: white;
    float: left;
    font-size: $h4-size;
    margin: 3px 5px;
    padding: 3px 5px;
    white-space: nowrap;

    &:hover {
        background-color: darken(lightgray, 10%);
        cursor: pointer;
    }
}
