.top-bar{
    line-height: 40px;
    background-color: $dark-grey;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-bar__user-area {
    margin-right: 20px;
    vertical-align: middle;
}

.username {
    display: inline-block;
    text-align: right;
}

.profile-circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: $cyan;
    display: none;
}

.profile-initials {
    display: inline-block;
    color: $light-grey;
    font-size: $h4-size;
    position: relative;
    left: -27px;
    top: -10px;
}

.profile-username {
    color: $light-grey;
}

#top-bar_float-left {
    float: left;
    margin-left: 40px;
}

#top-bar_float-right {
    float: right;
    margin-right: 20px;
}

#rzdoc-bar {
    color: $light-grey;
    position: relative;
    overflow-x: auto;
    margin-right: 20px;
    min-width: 250px;
}

#rzdoc-bar_doc-label {
    font-family: $semibold-font-family;
    font-size: $h3-size;
    font-weight: bold;
}

#site-logo {
    border-radius: 3px;
    height: 25px;
    padding: 2px;
    vertical-align: middle;
}
