.top-bar{
  position:relative;
  top:0;
  left:0;
  width:100%;
  min-height:$three-baselines;
  background-color:$dark-grey;
}

.user-area {
  float: right;
  margin: 3px $doc-margin 3px $doc-margin;
}

.username {
  display: inline-block;
  text-align: right;
}

.profile-circle{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $cyan;
  display: inline-block;
}

.profile-initials {
  display: inline-block;
  color: $light-grey;
  font-size: $h4-size;
  position: relative;
  left: -27px;
  top: -10px;
}

.profile-username {
  display: inline-block;
  top:12px;
  color: $light-grey;
  position: relative;
  left: -20px;
  top: -10px;
}

#doc-title{
  font-family: $semibold-font-family;
  color: $light-grey;
  margin-left: 40px;
  padding: 10px;
  font-size: $h3-size;
}
