{% extends "base.html" %}
{% block title %}Welcome to Rhizi{% endblock %}
{% block head %}
{{ super() }}
<script src="/static/lib/jquery.js" type="text/javascript"></script>
<script src="/static/user_login.js" type="text/javascript"></script>

<style type="text/css">
html {
  background: url(/static/img/login-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  background-color: transparent;
}
</style>
{% endblock %}
{% block content %}
<div class="welcome-box">
	<div class="login-view-section">
		<div class="login-rhizi-logo"></div>
	</div>
	<div class="login-view-section">
		<h1 class="login-header">Welcome to Rhizi</h1>
	</div>
	<div class="login-view-section" id="login-view-section_intro-text">
			<p class="login-text"><em>Directly interact with knowledge graphs.</em></p>
			<p class="login-text">Use Rhizi to Share the skills, interests and project you participate in.</p>
			<p class="login-text">The resulting interactome allows the entire CRI to better collaborate with AIV students</p>
	</div>
	<div class="login-view-section login-form">
		<div id="login-form">
			<form action="javascript:void(0);" method="get" onsubmit="submit_login_form();" id="login_form">
				<input class="login-input" type="email" id="login_email_address" placeholder="Email">
				<input class="login-input" type="password" id="login_password" placeholder="Password">
				<input class="login-form_button" type="submit" value="Sign in">
			</form>
		</div>
		<div id="failed-login" style="display: none">
			 <b>Login Failed</b>
		</div>
		<div class="login-text" id="login-page_forgot-password-button" title="Forgot your password"><a href="/pw-reset">Forgot your password?</a></div>
	</div>
	<div id="create-account-section" class="login-view-section login-form">
		<div class="section-divider">or</div>
		<a href="/signup">
			<div class="login-form_button" id="login-page_create-account-button" title="Create Account">Create Account</div>
		</a>
	</div>
	<div class="login-view-section">
		<div class="section-divider magenta-divider"><span class="contact-us-icon"></span></div>
		<p class="login-text contact-us-text"><a class="contact-us-link" href="mailto:feedback_CRI@rhizi.net?subject=Rhizi%20User%20Feedback">Email us</a> with your feedback,<br>we would love to hear your suggestions!</p>
	</div>
</div>
{% endblock %}
