<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Welcome to Rhizi</title>
<link href="/res/css/style.css" rel="stylesheet" type="text/css">
<script src="/static/lib/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    function submit_login_form() {
        var data = {
            username : $('#login_username').val(),
            password : $('#login_password').val()
        };

        // TODO: validate

        $.ajax({
            type : "POST",
            url: '/login',
            async : false,
            cache : false,
            data : JSON.stringify(data),
            dataType : 'json',
            contentType : "application/json; charset=utf-8"
        });
    }
</script>
</head>

<body>
<h1> Welcome to Rhizi!</h1>

	<p>Rhizi is a collaborative knowledge editor. We are using it to create an interactome of AIV M2 students, their skills, interests, clubs and internships.</p>
	<p>This version is meant for you to add yourself in the interactome and share how it went. </p>
	<p><a href="mailto:dor.garbash@gmail.com">Send us an Email</a> about your experience, especially if you encountered any problem!</p>
	<h2>Disclaimer</h2>
	<ul>
		<li>The content here may be deleted at any time.</li>
		<li>You can export your work as a JSON, but we don't guarantee we will continue to support it later on.</li>
		<li>We will implement a feature to generate your own Rhizi-doc in the coming months. Until then, you will not be able to launch your own Rhizi-doc.</li>
	</ul>
	<div id="login_form_panel">
		<form
			onsubmit="submit_login_form();"
			id="login_form">
			<h2 id="login_form__heading">Login</h2>
			<br>
			<div class="login_form__key">Username:</div>
			<div class="login_form__value">
				<input
					type="text"
					id="login_username">
			</div>
			<br>
			<div class="login_form__key">Password:</div>
			<div class="login_form__value">
				<input
					type="password"
					id="login_password">
			</div>
			<p>
				<input
					type="submit"
					value="Login">
			</p>
		</form>
		<div id="failed-login">
			{% if login_failed %}<b>Login Failed</b>{% endif %}
		</div>
	</div>

</body>
</html>
